AssetBundles
AssetBundlesMobile
Temp_AssetBundles
obj
Library
WebPlayer
MacBuild
IOSBuild
PCBuild
/*.pidb
/*.unityproj
/*.csproj
/*.userprefs
/*.sln
/*.suo
/*.rar
/*.obb
/Temp
StreamingAssets
testSample
/Assets/UnityVS
/Assets/UnityVS.meta
/Assets/StreamingAssets.meta
